<form action="/favourites" method="POST">
    <button type="submit" class="bg-green-300 p-2">
        Add to favourites
    </button>
    <input type="hidden" name="homeId" value="<%= home%>">
  </form>